@font-face {
    font-family: 'Light';
    src: url('Light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sans';
    src: url('Sans.ttf');
    font-weight: normal;
    font-style: normal;
}